body {
  background-image: url('./assets/messi.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.clock-container {
  backdrop-filter: blur(4px);
  width: 50vw;
  padding: 10px 0px;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.5), -3px -3px 5px hsla(0, 0%, 0%, 0.5);
}

.clock {
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
}